<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Info Corona ID</title>
	
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	
</head>
<body>


<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center" th:text="${coronaIndonesia[0].name}"></h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
			<p th:text="${coronaIndonesia[0].positif}"></p>
		</div>
		<div class="col-sm-3">
			<p th:text="${coronaIndonesia[0].sembuh}"></p>
		</div>
		<div class="col-sm-3">
			<p th:text="${coronaIndonesia[0].meninggal}"></p>
		</div>
		<div class="col-sm-3">
			<p th:text="${coronaIndonesia[0].dirawat}"></p>
		</div>
	</div>
	
</div>
	
<div class="container"> 
		<table class="table">
			<tr>
				<th>Provinsi</th>
				<th>Kasus Positif</th>
				<th>Kasus Sembuh</th>
				<th>Kasus Meninggal</th>
			</tr>
			<tr th:each="provinsi : ${listProvinsi}">
				<td th:text="${provinsi.namaProvinsi}"></td>
				<td th:text="${provinsi.kasusPositive}"></td>
				<td th:text="${provinsi.kasusSembuh}"></td>
				<td th:text="${provinsi.kasusMeninggal}"></td>
			</tr>
		</table>
</div>
	


<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>